* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --light-gray: #444;

  --bg-color: #FEFDF9;
  --detail-color: #F5F5F5;
  --primary-color: #1B365D;
  --secondary-color: #FFD100;
  --secondary-color-hover: #ffde4b;
  --transparent-blue: #a9cbff3d;
  --transparent-blue-hover: #5297ff3d;

  --gray-900: #ebebeb;
  --gray-800: #dbdbdb;
  --gray-600: #C8C8C8;
  --gray-400: #7B7B7B;
  --gray-200: #333333;

  --sml-font-size: 0.5rem;
  --regular-font-size: 1rem;
  --m-font-size: 1.3rem;
  --l-font-size: 1.5rem;
  --xl-font-size: 1.8rem;
  --xxl-font-size: 3rem;

  --border-radius: 10px;
  --transicao-padrao: all 0.3s ease-in-out;
}

@font-face {
  font-family: 'catchland';
  src: url('../../../../assets/fonts/Catchland.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.action-icon {
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.2s;

  &:hover {
    transform: scale(1.1);
    color: #fbbf24;
  }
}