div#service_navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 4%;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--primary-color);
    padding: 10px;
    border-right: 1px solid #ffffff0e;

    & div#navbar_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 20px;
        padding: 20px 0px;

        img {
            width: 70%;
            margin-bottom: 40px;
        }
    }

    & div#navbar_profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px 0px;
    }
}