div#service_container {
    background: var(--white);
    width: 90%;
    margin: 2% auto 2% 7%;
    padding: 2%;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

    & div#title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        & h1 {
            color: var(--primary-color);
            font-family: 'catchland', sans-serif;
            font-weight: 400;
            font-size: var(--xl-font-size);
        }

        & div#service_text {
            background-color: var(--secondary-color);
            border-radius: var(--border-radius);
            padding: 1%;
            max-width: 25%;

            & p {
                color: var(--primary-color);
            }
        }
    }
}