div#service_container {
    background: var(--primary-color);
    width: 90%;
    margin: 2% auto 2% 7%;
    padding: 2%;
    border: 1px solid red;

    & div#title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        & h1 {
            color: var(--white);
            font-family: 'catchland', sans-serif;
            font-size: var(--l-font-size);
        }

        & div#service_text {
            background-color: var(--secondary-color);
            border-radius: var(--border-radius);
            padding: 1%;
            max-width: 25%;

            & p {
                color: var(--primary-color);
            }
        }
    }
}