* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --background-black: #0f0e17;
    --backgound-white: #fffffe;
    --contrast-yellow: #ffc506;
    --Headline: #fffffe;
    --Button-text: #fffffe;
    --Paragraph: #a7a9be;

    --card-background: #0f0e17;
    --card-heading: #fffffe;
    --card-paragraph: #a7a9be;

    --illustration-stroke: #000;
    --illustration-main: #fffffe;
    --illustration-secondary: #f25f4c;
    --illustration-tertiary: #e53170;
    --illustration-highlight: #e53170;
}

h1,
h2,
h3,
h4 {
    overflow-y: hidden;
}