section#banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 640px;
    z-index: 2;
    position: relative;

    & div#banner-text {
        grid-column: 1;
        width: 70%;
        margin: auto;

        & h1 {
            font-size: var(--xxl-font-size);
            color: var(--white);
            margin-bottom: 20px;
        }

        & p {
            font-size: var(--m-font-size);
            color: var(--secondary-color);
            margin-bottom: 80px;
            font-weight: 500;
        }

        & a button {
            transition: transform 0.3s ease;

            &:hover {
                transition: transform 0.3s ease;
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }

    & div#banner-img {
        grid-column: 2;
        width: 100%;
        position: relative;
        justify-items: center;

        & img#phone {
            width: 30%;
            position: absolute;
            z-index: 3;
            top: 30%;
            left: -5%;
        }

        & div#desktop-img {
            margin-top: 10%;
            position: relative;
            padding: 30px;
            border-radius: var(--border-radius);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
            background: #b3b3b336;
            backdrop-filter: blur(25px);
            width: 90%;
            z-index: 1;
            right: -15%;
            
            & img#desktop {
                border-radius: var(--border-radius);
                width: 100%
            }
        }
    }
}