section#benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    margin-top: 250px;
    padding: 50px;

    & div#benefits-img {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        margin: auto;
        border-radius: var(--border-radius);
        width: 80%;
        height: 100%;

        background-position: center;
        background-size: cover;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    }

    & div#benefits-info {
        grid-column: 2;
        grid-row: 1;
        padding: 60px;

        & h1#benefits-main-title {
            color: var(--primary-color);
            font-size: var(--xxl-font-size);
            margin-bottom: 30px;
        }

        & div#benefits-cards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            
            & div.benefits-card {
                transition: var(--transicao-padrao);
                cursor: pointer;
                padding: 30px;

                &.active {
                    border-right: 4px solid var(--primary-color);
                }
                
                &.disabled {
                    border-right: 4px solid var(--gray-900);
                    pointer-events: auto;
                    filter: grayscale(10%);
                }

                & h1.benefits-title {
                    color: var(--secondary-color);
                    margin-bottom: 15px;
                }
            }
        }
    }
}