section#benefits {
    padding: 4rem 2rem;
    text-align: center;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 2.5rem;

    & div.benefit-card-text {
        padding: 2rem;
        color: var(--text-color);
        transition: var(--transicao-padrao);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        & h3.benefit-card-title {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            color: var(--text-color);
        }

        & p.benefit-card-description {
            color: var(--text-color-secondary);
        }

    }

    & img.benefit-card-image {
        width: 90%;
        height: auto;
        margin: auto;
        border-radius: var(--border-radius);
        margin-bottom: 1rem;
    }
}