section#cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: 10px auto;
    max-width: 80%;
    margin: 130px auto;

    & h1 {
        color: var(--secondary-color);
        font-size: var(--xxl-font-size);
        margin-bottom: 10px;
    }

    & div.cta-card {
        height: 550px;
        overflow: hidden;
        border-radius: var(--border-radius);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        border: 1px solid var(--gray-400);
        display: grid;
        grid-template-rows: 2;
        padding: 40px;
        position: relative;
    }

    & div#simples img,
    & div#rapido img,
    & div#pratico img {
        position: absolute;
        width: 160%;
        max-width: none;
        z-index: 0;
    }

    & div#simples {
        background: var(--primary-color);
        color: var(--white);
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        position: relative;

        & div#simples-left-div {
            align-self: end;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            grid-column: 1;

            & div#simples-text {
                & h1 {
                    height: 60px;
                }

                & p {
                    color: var(--white);
                    font-size: var(--m-font-size);
                    font-weight: 600;
                }
            }
        }

        & img {
            grid-column: 2;
            width: 100%;
            bottom: -350px;
            right: 40px;
        }
    }

    & div#rapido {
        background: var(--detail-color);
        width: 25%;
        position: relative;

        & img {
            width: 90%;
            top: -500px;
            right: -40px;
        }

        & div#rapido-bottom-div {
            align-self: end;

            & p {
                color: var(--primary-color);
                font-size: var(--m-font-size);
                font-weight: 600;
            }
        }
    }

    & div#pratico {
        background: var(--detail-color);
        width: 25%;
        position: relative;

        & img {
            width: 80%;
            bottom: -350px;
            right: -100px;
            transform: rotate(-45deg);
        }

        & p {
            color: var(--primary-color);
            font-size: var(--m-font-size);
            font-weight: 600;
        }
    }
}