section#final-call {
    background: var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    max-width: 80%;
    margin: 130px auto;

    & img {
        width: 15%;
    }

    & div {
        text-align: center;
        color: var(--white);

        & p {
            margin: 25px;
            font-size: var(--m-font-size);
            font-weight: 600;
        }
    }
}