footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0px;
    background-color: var(--primary-color);
    align-items: center;
    text-align: center;

    & img {
        width: 10%;
    }

    & h3 {
        color: var(--secondary-color);
        font-size: var(--l-font-size);
        font-weight: 600;
    }

    & p {
        color: var(--gray-400);
        font-size: var(--regular-font-size);
    }
}