@import "tailwindcss";

/* --- Resets Importantes --- */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
  color: var(--black);
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:root {
  /* --- Colors --- */
  --primary: #08233e; /* Dark Blue */
  --primary-hover: #0c3156;

  --secondary: #ffd100; /* Yellow */
  --secondary-hover: #e6bc00;

  --main-bg: #fffaf0; /* Off-white */

  --black: #000000;
  --black-muted: rgba(0, 0, 0, 0.7);
  --black-light: rgba(0, 0, 0, 0.4);

  /* --- Design System (Neo-Brutalism Style) --- */
  --radius-main: 12px;
  --radius-card: 16px;
  --transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  /* Sombra típica do Neo-brutalismo: Sólida e deslocada */
  --neo-shadow: 4px 4px 0px 0px #000000;
  --neo-shadow-hover: 2px 2px 0px 0px #000000;
}

/* --- Mapeamento Tailwind --- */
@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  --color-off-white: var(--main-bg);

  --color-black: var(--black);
  --color-black-muted: var(--black-muted);
  --color-black-light: var(--black-light);

  --radius-main: var(--radius-main);
  --radius-card: var(--radius-card);

  --shadow-neo: var(--neo-shadow);
  --shadow-neo-hover: var(--neo-shadow-hover);
}

@font-face {
  font-family: "Catchland";
  src: url("./assets/Catchland.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
